<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">jdbc:mysql://120.24.226.153:3306/giftBox</property>
    <property name="hibernate.connection.username">gift</property>
    <property name="hibernate.connection.password">gift</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <mapping class="com.springapp.entity.GbtbCartEntity"/>
      <mapping class="com.springapp.entity.GbtbCodeEntity"/>
      <mapping class="com.springapp.entity.GbtbFavoriteEntity"/>
      <mapping class="com.springapp.entity.GbtbProductInfoEntity"/>
      <mapping class="com.springapp.entity.GbtbProductReviewEntity"/>
      <mapping class="com.springapp.entity.GbtbProductTagEntity"/>
      <mapping class="com.springapp.entity.GbtbTradeRecordEntity"/>
      <mapping class="com.springapp.entity.GbtbUserInfoEntity"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>