.wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.slider {
  height: 580px;
  position: relative;
  overflow: hidden;
}
.slider .img-link {
  width: 1920px;
  height: 580px;
  position: absolute;
  margin-left: -960px;
  left: 50%;
  top: 0;
  display: none;
}
.slider .img-link.show {
  display: block;
}
.slider .img-link .img {
  width: 1920px;
  height: 580px;
}
.slider .btn-box {
  width: 1120px;
  margin: 260px auto 0;
  position: relative;
  z-index: 100;
}
.slider .btn-box .btn {
  width: 60px;
  height: 60px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 36px;
  display: inline-block;
  position: absolute;
  top: 0;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.slider .btn-box .btn.prev {
  left: 0;
}
.slider .btn-box .btn.next {
  right: 0;
}
.big-guider {
  height: 50px;
  width: 1040px;
  left: 50%;
  margin-left: -520px;
  position: absolute;
}
.big-guider .big-guider-content {
  display: block;
  position: absolute;
  bottom: 0;
  width: 320px;
  height: 230px;
  background-color: #f6442c;
}
.big-guider .big-guider-content .guide-img {
  position: relative;
}
.big-guider .big-guider-content .price-box {
  width: 320px;
  height: 180px;
  background-color: #ffffff;
  text-align: center;
  color: #95a8b1;
  overflow: hidden;
}
.big-guider .big-guider-content .price-box .title {
  font-size: 16px;
  display: block;
  margin-top: 20px;
}
.big-guider .big-guider-content .price-box .cur-price {
  font-size: 60px;
  color: #f6442c;
  display: inline-block;
  margin-top: 30px;
}
.big-guider .big-guider-content .price-box .ic {
  position: absolute;
  display: inline-block;
  color: #f6442c;
  font-size: 18px;
  top: 85px;
  right: 75px;
}
.big-guider .big-guider-content .price-box .another-price {
  font-size: 14px;
  position: absolute;
  display: inline-block;
  top: 88px;
  right: 30px;
}
.big-guider .big-guider-content .price-box .unit {
  font-size: 16px;
  margin-top: 16px;
  display: block;
}
.big-guider .big-guider-content .select {
  position: absolute;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 320px;
}
.big-guider .big-guider-content .txt {
  line-height: 50px;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
}
.big-guider .big-guider-content .icon {
  float: right;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-size: 18px;
  margin-right: 10px;
}
.big-guider .big-guider-content.c1 {
  left: 0;
}
.big-guider .big-guider-content.c3 {
  right: 0;
}
.big-guider .big-guider-content.c2 {
  left: 360px;
}
.product-wrapper {
  font-size: 0;
  padding-bottom: 35px;
}
.product-wrapper .product {
  margin-left: 40px;
  margin-top: 50px;
}
.product-wrapper .get-more-box {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}
.product-wrapper .get-more-box .get-more {
  display: inline-block;
  width: 160px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #95a8b1;
  color: #f6442c;
  border-radius: 20px;
  -webkit-transition: 200ms background-color;
  transition: 200ms background-color;
}
.product-wrapper .get-more-box .get-more:hover {
  background-color: #f6442c;
  color: #ffffff;
  border-color: #f6442c;
}
.home-img-nav {
  width: 1040px;
  height: 540px;
  position: relative;
  margin: 85px auto 0;
}
.home-img-nav .nav {
  width: 80px;
  height: 540px;
}
.home-img-nav .nav .link {
  display: block;
  text-align: center;
  width: 78px;
  height: 178px;
  border: 1px solid #f0f4f5;
  background-color: #f0f4f5;
  color: #95a8b1;
}
.home-img-nav .nav .link.on {
  background-color: #ffffff;
  border-color: #f0f4f5;
  color: #f6442c;
}
.home-img-nav .nav .link .icon {
  display: inline-block;
  margin-top: 60px;
}
.home-img-nav .nav .link .icon:before {
  display: inline-block;
  margin-bottom: 15px;
  width: 80px;
  font-size: 35px;
}
.home-img-nav .img-guide-box {
  width: 860px;
  height: 540px;
  position: absolute;
  top: 0;
  right: 0;
}
.home-img-nav .img-guide-box .guide {
  padding: 0;
  width: 960px;
  height: 540px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.home-img-nav .img-guide-box .guide.on {
  display: block;
}
.home-img-nav .img-guide-box .guide .big-pic {
  position: absolute;
  width: 640px;
  height: 360px;
  display: block;
  left: 0;
  top: 0;
}
.home-img-nav .img-guide-box .guide .big-pic .content {
  position: absolute;
  right: 40px;
  top: 150px;
  text-align: left;
  width: 200px;
  color: #ffffff;
}
.home-img-nav .img-guide-box .guide .big-pic .content .title {
  font-size: 36px;
  display: block;
}
.home-img-nav .img-guide-box .guide .big-pic .content .desc {
  font-size: 16px;
}
.home-img-nav .img-guide-box .guide .small-pic {
  position: absolute;
  width: 320px;
  height: 180px;
  display: block;
}
.home-img-nav .img-guide-box .guide .small-pic .content {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: right;
  width: 300px;
  height: 30px;
  color: #ffffff;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-right: 20px;
}
.home-img-nav .img-guide-box .guide .small-pic.small-pic-one {
  right: 0;
  top: 0;
}
.home-img-nav .img-guide-box .guide .small-pic.small-pic-two {
  right: 0;
  top: 180px;
}
.home-img-nav .img-guide-box .guide .small-pic.small-pic-three {
  right: 0;
  bottom: 0;
}
.home-img-nav .img-guide-box .guide .small-pic.small-pic-four {
  right: 320px;
  bottom: 0;
}
.home-img-nav .img-guide-box .guide .small-pic.small-pic-five {
  left: 0;
  bottom: 0;
}
